.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(26, 26, 43);
  color: white;
}

.header {
  text-align: center;
  /* Otros estilos que desees agregar */
}

.choices {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgb(59, 7, 7);
  margin: 0 10px;
  cursor: pointer;
}

.choice img {
  width: 100%;
  height: 100%;
}

.choice.active {
  background-color: rgb(150, 250, 150);
}

.selections {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 100%;
}

.player-selection,
.computer-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choice {
  width: 150px;
  height: 150px;
  background-color: rgb(155, 243, 155);
  margin-bottom: 10px;
  font-size: 24px;
}

.winner {
  font-size: 32px;
  font-weight: bold;
  color: rgb(250, 42, 42);
}

.scoreboard {
  text-align: center;
}